body{
    background:url(../imagenes/fondos/wallpapersden.com_sunset-sea-outrun_7680x4320.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
}

ul{
    font-family: 'Sansita Swashed', cursive;
    color: white;  
    
}.rectangulo {
 width: 300px; 
 height: 300px;
 background: #5DFCBF;
 position: fixed;


}





